# Chatbot Gemini Configuration
GEMINI_API_KEY="sua_chave_gemini_aqui"
GEMINI_MODEL="gemini-2.5-flash-lite"

# Telegram bots tokens
TELEGRAM_BOT_TOKEN="token_do_chatbot"
MANGOFIER_BOT_TOKEN="token_do_mangofier_bot"
GOIABOOKLM_BOT_TOKEN="token_do_goiabooklm_bot"

# Telegram Master ID
MASTER_USER_ID="seu_id_do_telegram_aqui"

# API Router
LISTENER_API_TOKEN="token_do_api_router"
LISTENER_API_PORT="7355"

# GoiabookLM Integration
GOIABOOK_API_URL="endereco_do_goiabooklm"
GOIABOOK_API_TOKEN="token_do_goiabooklm"

# Mangofier Integration
MANGOFIER_API_URL="endereco_do_mangofier"
MANGOFIER_API_TOKEN="token_do_mangofier"

# Cloudflare Tunnel
CLOUDFLARE_TUNNEL_ID="id_do_tunnel"
CLOUDFLARE_DOMAIN="pessegram.mogami.dev.br"
